body { padding: 50px; }
.sitemap * {transition: all 0.5s; }
.sitemap h2 { padding: 0 0 5px; color:#c2c1bf; font-size: 18px; line-height: 100%; }
.sitemap a { font-size: 13px; color: #55524d; }
.sitemap > div { float: left; width: 200px; padding: 0 50px 0 0; }
.sitemap > div:hover * { color: #c2c1bf; }
.sitemap > div:hover h2 { color: #ff5400; }
.sitemap > div > ul > li:hover > a {color: #ff5400;}
.sitemap > div > ul > li > a {display:block; margin:24px 0 15px;}
.sitemap > div > ul > li > ul { margin: 15px; border-left: 1px solid #3c3933; }
.sitemap > div > ul > li > ul > li{ position: relative; padding: 0 0 8px 19px; line-height: 100%}
.sitemap > div > ul > li > ul > li:before { content: ""; position: absolute; left: -1px; top: 0; width: 1px; height: 100%; background: #ff5400; opacity: 0; transition: opacity 0.5s;}
.sitemap > div > ul > li > ul > li:hover:before {opacity: 1;}
.sitemap > div > ul > li > ul > li:hover > a {color:#ff5400;}
.sitemap > div > ul > li > ul > li > ul { padding: 15px 0 0; }
.sitemap > div > ul > li > ul > li > ul a { display: block; padding: 4px 0; font-size: 11px; }
.sitemap > div > ul > li > ul > li > ul li {position: relative; z-index: 2; padding-left: 18px; border-left: 1px solid #3c393c; line-height: 15px;}
.sitemap > div > ul > li > ul > li > ul li:before { content: ""; position: absolute; left: -1px; top: 0; width: 1px; height: 100%; background: #ff5400; opacity: 0; transition: opacity 0.5s;}
.sitemap > div > ul > li > ul > li > ul li:hover a {color: #ff5400;}
.sitemap > div > ul > li > ul > li > ul li:hover:before {opacity: 1;}